<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/streamstech/IdeaProjects/ParaBankAutomation">
<!--        <classes>-->
<!--            <class name="selenium.pom.tests.CustomerLoginTest">-->
<!--            </class>-->
<!--            <class name="selenium.pom.tests.OpenAccountTest">-->
<!--            </class>-->
<!--            <class name="selenium.pom.tests.TransferFundsTest">-->
<!--            </class>-->
<!--        </classes>-->
        <packages>
            <package name="selenium.pom.tests.*"></package>
        </packages>
    </test>
</suite>